* {
border: none;
border-radius: 0;
min-height: 0;
font-family: JetBrainsMono Nerd Font;
font-size: 12px;
}

window#waybar {
  background: rgba(0,0,0,0.35);
  color: white;
}

#workspaces {
margin-left: 6px;
}

#workspaces button {
all: unset;
padding: 0 6px;
color: rgba(255,255,255,0.5);
}

#workspaces button.active {
color: white;
font-weight: bold;
}

#clock,
#cpu,
#memory,
#disk,
#network,
#battery,
#wireplumber,
#bluetooth,
#custom-weather,
#tray {
background: transparent;
color: white;
padding: 0 4px;
margin: 0;
}

tooltip {
  background: #111;
  color: white;
  border: 1px solid #333;
}

menu {
    font-size: 8px;
    padding: 0px;
}

menu menuitem {
    padding: 3px 6px;
}
