* {
font-family: "JetBrainsMono Nerd Font";
font-size: 14px;
}

window {
    margin: 0;
    background-color: rgba(18, 18, 24, 0.78);
    border: 1px solid rgba(255,255,255,0.08);
}

#outer-box {
margin: 10px;
padding: 10px;
background-color: transparent;
}

#input {
margin-bottom: 10px;
padding: 6px;

border: none;
border-bottom: 1px solid rgba(255,255,255,0.12);

background-color: transparent;
color: white;
}

#input:focus {
box-shadow: none;
}

#inner-box {
margin: 0;
border: none;
background-color: transparent;
}

#scroll {
margin: 0;
border: none;
}

#img {
    margin-right: 10px;
}

#entry {
padding: 6px;
background-color: transparent;
}

#entry:selected {
background-color: rgba(255,255,255,0.08);
outline: none;
}

#text {
color: rgba(255,255,255,0.75);
}

#text:selected {
color: white;
}
